@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>IdentityServer</h2>
        <ul>
            <li>Sample app for processing IdentityServer requests</li>
            <li>Evaluates UserProfileInfo</li>
            <li>Evaluates Tokens and IdentityServer claims modifications.</li>
        </ul>
    </div>
</div>
